@import './fonts.css';
@import './tailwind.css';
@import './theme.css';
/* Android/iOS safe-area handling */
html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
}

body {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}